<header>
  <a href="{{ link "/" }}" title="Home">
    <img width="48" height="48" src="{{ link "/assets/hexagram.svg" }}" />
  </a>

  <nav>
    <a href="{{ link "/authors/" }}" title="Authors">Authors</a>
    <a href="{{ link "/quotes/" }}" title="Quotes">Quotes</a>
    <a href="{{ link "/tags/" }}" title="Tags">Tags</a>
  </nav>
</header>
