<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}} {{author.url}}">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <link rel="canonical" href="https://{{context.config.host}}">
    <link rel="stylesheet" href="{{ link "/assets/style.css" }}">
    <link rel="icon" href="{{ link "/assets/favicon.png" }}">
    {{#each styles}}<link rel="stylesheet" href="{{ link this }}">{{/each}}
  </head>
  <body>
    {{> header}}
    <main>{{{template}}}</main>
    {{> footer}}
    {{#each scripts}}<script type"module" src="{{ link this }}"></script>{{/each}}
    {{livereload}}
  </body>
</html>
