<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> head}}
    {{author}}
    {{favicon}}
    {{styles main="/assets/css/style.css"}}
  </head>
  <body>
    {{> header}}
    <main>{{partial}}</main>
    {{> footer}}
    {{scripts}}
    {{livereload}}
  </body>
</html>
