doctype html
html
  head
    title Spiritualisms
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Lato',
      rel='stylesheet',
      type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Noto+Serif',
      rel='stylesheet',
      type='text/css')
    style.
      !{styles}
  body
    .quotation
      blockquote #{doc.quote}
      cite &#8212;&nbsp;
        a(href=doc.link, title=doc.author + ' (' + doc.domain + ')')
          | #{doc.author}
