extends ../layout

include ../mixin/quote-toolbar
include ../mixin/quote-listing
include ../mixin/tag-list

block title
  title Tags

append meta
  meta(name='description', content='Find quotes by tags')

block content
  section.page
    h2.clearfix
      a(href='/explore', title='Explore') Explore
      | &nbsp;/&nbsp;
      - if(search) {
        a(href='/explore/tags', title='Tags') Tags
      - }else{
        | Tags
      - }
      sup &nbsp;#{tags.rows.length}
      span.float-right
        a(href='/explore/authors', title='Authors') Authors
    form.table.search(method='get', action='/explore/tags')
      fieldset
        .cell
          input(
            type='search',
            name='q',
            placeholder='Search by tags (eg: love wisdom)')
        .cell
          input(type='submit', value='Search')
    - if(search) {
      .listing.search-results
        small.muted(class=(search.total === 0 ? 'empty' : undefined))
          | Searching for &#8220;#{search.query}&#8221;
          | returned #{search.total} quote#{search.total !== 1 ? 's' : ''}
        +quote-listing(search.quotes)
    - }
    hr
    p.all-tags.listing
      +tag-list(tags, 'tags')
