extends ../layout

include ../mixin/quote-toolbar

block content
  section.browse.page
    h2 Tags / #{tag}
    .listing
      - var rows = quotes.rows, doc;
      - for(var i = 0;i < rows.length;i++) {
        - doc = rows[i].doc;
        .quotation.item(data-id=doc.id)
          blockquote.primary #{doc.quote} 
          div.meta.clearfix
            cite.float-left &#151;
              - if(doc.link) {
                a(href=doc.link) #{doc.author}
                - if(doc.domain) {
                  span  (#{doc.domain})
                - }
              - }else {
                span #{doc.author}
              - }
            +quote-toolbar(doc, {permalink: true})
      - }
