extends layout

include mixin/cite-primary
include mixin/quote-toolbar

block content
  section.page.permalink
    div.quotation(data-id=doc.id)
      +quote-toolbar(doc)
      blockquote.primary #{doc.quote}
      +cite-primary(doc)
      nav.download
        span 
          i.fa.fa-download
          | &nbsp; Download: 
        a(href=url + '.md', title='Download markdown') Markdown
        a(href=url + '.txt', title='Download text') Text
        a(href=url + '.pdf', title='Download pdf') PDF
        a(href=url + '.html', title='Download html') HTML
        a(href=url + '.json', title='Download json') JSON
        a(href=url + '.xml', title='Download xml') XML
