extends layout

include mixin/cite-primary
include mixin/quote-toolbar

block content
  section.page.permalink
    +quote-toolbar(doc)
    div.quotation
      blockquote.primary #{doc.quote}
      +cite-primary(doc)
      nav.download
        span 
          i.fa.fa-download
          | &nbsp; Download: 
        a(href=url + '/download/md', title='Download markdown') Markdown
        a(href=url + '/download/pdf', title='Download pdf') PDF
        a(href=url + '/download/html', title='Download html') HTML
        a(href=url + '/download/json', title='Download json') JSON
        a(href=url + '/download/xml', title='Download xml') XML
