<header>
  <a class="home" href="{{ link "/" }}" title="Home">
    <img width="48" height="48" src="/assets/hexagram.svg" />
  </a>

  <nav>
    <span><a {{match "/quotes/" "class='selected'"}} href="{{ link "/quotes/" }}" title="Quotes">Quotes</a></span>
    <span><a {{match "/authors/" "class='selected'"}} href="{{ link "/authors/" }}" title="Authors">Authors</a></span>
    <span><a {{match "/tags/" "class='selected'"}} href="{{ link "/tags/" }}" title="Tags">Tags</a></span>
  </nav>
</header>
