mixin quotation(doc)
  - var title = doc.title || (doc.author + ' (' + doc.domain + ')');
  div.quotation
    blockquote.primary(id=doc._id) #{doc.quote}
    cite.primary &#151; 
      - if(doc.link) {
        a(href=doc.link, title=title) #{doc.author}
      - }else{
        span #{doc.author} 
      - }
    a(href='/inspire/' + doc._id)
      i.fa.fa-angle-double-down.fa-2x
    //-nav
      //-a.love(href='/love/' + doc._id)
        //-i.fa.fa-2x.fa-heart
      //-a.star(href='/star/' + doc._id)
        //-i.fa.fa-2x.fa-star
  footer.quote
    nav
      a.more-inspiration(href='/',title='Load a new quote')
        i.fa.fa-lightbulb-o
        | &nbsp;More Inspiration

