mixin quotation(doc, opts)
  - opts = opts || {};
  - var title = doc.title || (doc.author + ' (' + doc.domain + ')');
  div.quotation
    blockquote.primary(id=doc._id) #{doc.quote}
    cite.primary &#151; 
      - if(doc.link) {
        a(href=doc.link, title=title) #{doc.author}
      - }else{
        span #{doc.author} 
      - }
    a.detail(href='/inspire/' + doc._id)
      i.fa.fa-angle-double-down.fa-2x
    //-nav
      //-a.love(href='/love/' + doc._id)
        //-i.fa.fa-2x.fa-heart
      //-a.star(href='/star/' + doc._id)
        //-i.fa.fa-2x.fa-star
  //-- if(opts.more) {
    //-footer.quote
      //-nav.clearfix
        //-include ../partial/more-inspiration
        //-- if(opts.browser) {
          //-a.browser-home.float-right(
            //-href='/home-page',
            //-title='Home page for your browser')
            //-i.fa.fa-home
              //-| &nbsp;Browser Home
        //-- }
  //-- }

